.container {
    display: flex;
    width: 100%;
    padding: 12px;
    align-items: center;
}

.content {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.days-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 10px;
}

.selectable-days {
    width: 15%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.today {
    text-align: center;
    width: 15%;
    color: #e91e63;
    opacity: 0.5;
    font-weight: bold;
}

.weekend {
    width: 15%;
    text-align: center;
    color: #313439;
    font-weight: bold;
}
