.container {
    display: flex;
    background-color: #15181e;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.name {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.phone-icon {
    display: flex;
    background-color: #e91e63;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    opacity: 0.2;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.phone-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin-top: 30px;
}